.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 400px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  background-color: rgba(255, 255, 255, 0.767);
  
}
.light{
  border: 0.5px solid rgb(136, 136, 136);
}

.dark{
  border: 0.5px solid rgb(0, 0, 0);
}
.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.card > a{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.card h2{
    min-height: 70px;
    word-wrap: break-word;
    color: black;
}
.card h3{
  word-wrap: break-word;
  color: black;
}


.card img{
  width: 100%;

}
.favButton{
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}
.light .favButton {
  background-color: rgba(136, 136, 136, 0.116);   
}
.dark .favButton {
  background-color: rgb(136, 136, 136);
}